#blackbox-web-debug  {
    background: #464646;
    color: #CCCCCC;
    direction: ltr;
    font: 13px/28px sans-serif;
    height: 28px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
}

#blackbox-web-debug.mini {
	width: 40px;
}

#blackbox-web-debug.mini > a {
	display:none;
}

#blackbox-web-debug.mini > a.toggle {
	display:inline;
	padding-right: 0px;
}

#blackbox:hover {
    opacity: 1;
}

#blackbox-web-debug  a {
    color: white;
    font-weight: normal;
    text-decoration: none;
    padding: 2px 20px 2px 20px;

}

#blackbox-web-debug  div.debug-panel {
    overflow:auto;
    max-height:400px;
    display:none;
    padding: 5px;
    font-family: "Lucida Console";
	background: #464646;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#373737),color-stop(18%,#464646));
	background-image: -webkit-linear-gradient(bottom,#373737 0,#464646 5px);
	background-image: -moz-linear-gradient(bottom,#373737 0,#464646 5px);
	background-image: -o-linear-gradient(bottom,#373737 0,#464646 5px);
	background-image: linear-gradient(to top,#373737 0,#464646 5px);

}

#blackbox-web-debug  table tbody tr td.number {
    text-align: right;
}

#blackbox-web-debug  table tbody tr td.err-name {
    width:60px;
}

#blackbox-web-debug  table tbody tr td {
    padding: 0px 15px;
    margin: 0;
    vertical-align: top;
    line-height:14px;
}

#blackbox-web-debug  a:hover {
    text-decoration: underline;
}

#blackbox-web-debug  .globals {
    background-image: url(icons/wrench.png);
    background-repeat: no-repeat;
}
#blackbox-web-debug  .profiler {
    background-image: url(icons/lighting.png);
    background-repeat: no-repeat;
}
#blackbox-web-debug  .filters {
    background-image: url(icons/link.png);
    background-repeat: no-repeat;
}
#blackbox-web-debug  .database {
    background-image: url(icons/db.png);
    background-repeat: no-repeat;
}
#blackbox-web-debug  .errors {
    background-image: url(icons/attention.png);
    background-repeat: no-repeat;
}
#blackbox-web-debug  .close {
    background-image: url(icons/delete.png);
    background-repeat: no-repeat;
}
#blackbox-web-debug  .toggle.off {
    background-image: url(icons/minimize.png);
    background-repeat: no-repeat;
}
#blackbox-web-debug  .toggle.on {
    background-image: url(icons/expand.png);
    background-repeat: no-repeat;
}

#blackbox-web-debug  pre{
    padding:0;
    margin: 0px 0px 0px 0px
}

.blackbox-filter {
	padding: 0px 0px 10px 15px
}

.blackbox-filter input[type=text] {
	background-color: silver;
	padding: 3px;
	border: 1px solid gray;
}

/*

Sunburst-like style (c) Vasily Polovnyov <vast@whiteants.net>

*/

#blackbox-web-debug  pre code {
  font: 12px / 14px 'Lucida Console', 'courier new', monospace !important;
  color: #f8f8f8;
  background: #464646 !important;
  padding: 0px !important;
  margin: 0px !important;
}

#blackbox-web-debug  pre {
  background:  #464646 !important;
}

#blackbox-web-debug  pre .comment,
#blackbox-web-debug  pre .template_comment,
#blackbox-web-debug  pre .javadoc {
  color: #aeaeae;
  font-style: italic;
}

#blackbox-web-debug  pre .keyword,
#blackbox-web-debug  pre .ruby .function .keyword {
  color: #E28964;
}

#blackbox-web-debug  pre .function .keyword,
#blackbox-web-debug  pre .sub .keyword,
#blackbox-web-debug  pre .method,
#blackbox-web-debug  pre .list .title {
  color: #99CF50;
}

#blackbox-web-debug  pre .string,
#blackbox-web-debug  pre .attribute .value,
#blackbox-web-debug  pre .cdata,
#blackbox-web-debug  pre .filter .argument,
#blackbox-web-debug  pre .attr_selector,
#blackbox-web-debug  pre .apache .cbracket,
#blackbox-web-debug  pre .date,
#blackbox-web-debug  pre .tex .command {
  color: #65B042;
}

#blackbox-web-debug  pre .subst {
  color: #DAEFA3;
}

#blackbox-web-debug  pre .regexp {
  color: #E9C062;
}

#blackbox-web-debug  pre .function .title,
#blackbox-web-debug  pre .sub .identifier,
#blackbox-web-debug  pre .pi,
#blackbox-web-debug  pre .tag,
#blackbox-web-debug  pre .tag .keyword,
#blackbox-web-debug  pre .decorator,
#blackbox-web-debug  pre .ini .title,
#blackbox-web-debug  pre .shebang {
  color: #89BDFF;
}

#blackbox-web-debug  pre .class .title,
#blackbox-web-debug  pre .smalltalk .class,
#blackbox-web-debug  pre .javadoctag,
#blackbox-web-debug  pre .yardoctag,
#blackbox-web-debug  pre .phpdoc {
  text-decoration: underline;
}

#blackbox-web-debug  pre .symbol,
#blackbox-web-debug  pre .ruby .symbol .string,
#blackbox-web-debug  pre .ruby .symbol .keyword,
#blackbox-web-debug  pre .ruby .symbol .keymethods,
#blackbox-web-debug  pre .number {
  color: #3387CC;
}

#blackbox-web-debug  pre .params,
#blackbox-web-debug  pre .variable {
  color: #3E87E3;
}

#blackbox-web-debug  pre .css .keyword,
#blackbox-web-debug  pre .pseudo,
#blackbox-web-debug  pre .tex .special {
  color: #CDA869;
}

#blackbox-web-debug  pre .css .class {
  color: #9B703F;
}

#blackbox-web-debug  pre .rules .keyword {
  color: #C5AF75;
}

#blackbox-web-debug  pre .rules .value {
  color: #CF6A4C;
}

#blackbox-web-debug  pre .css .id {
  color: #8B98AB;
}

#blackbox-web-debug  pre .annotation,
#blackbox-web-debug  pre .apache .sqbracket,
#blackbox-web-debug  pre .nginx .built_in {
  color: #9B859D;
}

#blackbox-web-debug  pre .preprocessor {
  color: #8996A8;
}

#blackbox-web-debug  pre .hexcolor,
#blackbox-web-debug  pre .css .value .number {
  color: #DD7B3B;
}

#blackbox-web-debug  pre .css .function {
  color: #DAD085;
}

#blackbox-web-debug  pre .diff .header,
#blackbox-web-debug  pre .chunk,
#blackbox-web-debug  pre .tex .formula {
  background-color: #0E2231;
  color: #F8F8F8;
  font-style: italic;
}

#blackbox-web-debug  pre .diff .change {
  background-color: #4A410D;
  color: #F8F8F8;
}

#blackbox-web-debug  pre .addition {
  background-color: #253B22;
  color: #F8F8F8;
}

#blackbox-web-debug  pre .deletion {
  background-color: #420E09;
  color: #F8F8F8;
}
